/* 
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
/* #Site Styles
================================================== */

.title
{
    color: #181818; 
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 46px; 
    line-height: 50px;
}

.subtitle
{
    color: #181818; 
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 17px; 
    line-height: 24px;
}

.gradient
{ 
		padding: 1em;
		background: #fff;/* Old browsers */
    	background: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(225,225,225,.3) 100%); /* FF3.6+ */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(225,225,225,.3))); /* Chrome,Safari4+ */
    	background: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(225,225,225,.3) 100%); /* Chrome10+,Safari5.1+ */
    	background: -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(225,225,225,.3) 100%); /* Opera11.10+ */
    	background: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(225,225,225,.3) 100%); /* IE10+ */
    	background: linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(225,225,225,.3) 100%); /* W3C */
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
      
/* Navigation */

nav 
{
    float: right;
    background-color: white;
    padding: 0;
    white-space: nowrap;
}

nav ul 
{
    margin: 0;
    padding: 0;
}

nav ul li 
{
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a 
{
    padding: 0 5px;
    font-weight: bold;
    color: #09c;
    text-decoration: none;
}

nav ul li a:visited 
{
    color: #08b;
    text-decoration: none;
}

nav ul li a:hover 
{
    text-decoration: underline;
}

/* Hierarchy links */

li.inline 
{
    padding: 0 5px;
    font-weight: bold;
    color: #888;
    text-decoration: none;
  
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

li.inline a 
{
    padding: 0 5px;
    font-weight: bold;
    color: #09c;
    text-decoration: none;
}

li.inline a:visited 
{
    color: #08b;
    text-decoration: none;
}

li.inline a:hover 
{
    text-decoration: underline;
}

/* Footer */

footer 
{
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer nav 
{
    float: none;
}

/* Form errors */

.field_with_errors 
{
}

.field_with_errors input 
{
    border-color: #c00;
}

.field_with_errors textarea 
{
    border-color: #c00;
}

#error_explanation 
{
  border: 1px solid #c00;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #eee;
}

#error_explanation h2 
{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  color: #c00;
}

#error_explanation p 
{
    margin-bottom: 0;
    padding: 5px;
}

#error_explanation ul 
{
    padding-left: 15px;
}

#error_explanation ul li 
{
    font-size: 14px;
    list-style: disc;
}

/* Flash styles */

.flash
{
    padding: 5px 5px 5px 5px;
    background-color: #eee;
    border: 1px solid #c00;
}

.success
{
    color: #777;
}

.notice
{
    color: #777;
}

.error
{
    color: #c00;
}

/* #Page Styles
================================================== */
table
{
  width: 100%;
}

th
{
    color: #111;
    text-align: left;
    background-color: #ccc;
    vertical-align: middle;
    padding:3px 5px 3px 5px;
}

td
{
    vertical-align: middle;
    padding:3px 5px 3px 5px;
}

.text
{
    text-align: left;
    padding:3px 5px 3px 5px;
}

.number
{
    text-align: right;
    padding:3px 5px 3px 5px;
}

.action
{
    text-align: center;
    padding:3px 5px 3px 5px;
}

.box
{
    padding: 5px 5px 5px 5px;
    background-color: #ddd;
    border: 1px solid #333;
}

.locations-scroll
{
    border: 1px solid #222; 
    width:95%; 
    height:500px; 
    overflow-y:auto;
}

.inlineLabel
{
    display: inline;
}

.optional
{
    display: inline;
    font-size: 10px;
    color: #999;
}
.table_footer
{
    background-color:#eee;
    font-weight: bold;
}

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
